@page "/"

@using DataGridTest.Data

<div class="mb-4"></div>

<div id="datagrid-inline-edit" class="container-fluid w-75 m-auto">

    <div class="row pt-2 page-header">
        <div class="col-auto pl-1 pr-1">
            <RadzenButton Click="@Refresh" ButtonStyle="ButtonStyle.Secondary">Show Data</RadzenButton>
        </div>
        <div class="col-auto pl-1 pr-1">
            <RadzenButton Icon="add_circle_outline" Click="@InsertRow" Text="Insert" ButtonStyle="ButtonStyle.Primary" Disabled="@EditMode" />
        </div>
    </div>
    <div id="ships-grid">
        <RadzenGrid @ref="DataGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="15"
                    AllowSorting="true" Data="@ships" TItem="Ship" ColumnWidth="200px"
                    EditMode="DataGridEditMode.Single"
                    RowUpdate="OnUpdateRow" RowCreate="OnCreateRow" RowEdit="OnEditRow">
            <Columns>

                <RadzenGridColumn TItem="Ship" Context="foo" Bubble="false" Filterable="false" Sortable="false">
                    <Template Context="context">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(context))" Disabled="@(@EditMode)"></RadzenButton>
                    </Template>
                    <EditTemplate Context="context">
                        <RadzenButton Icon="save" Click="@((args) => SaveRow(context))" Disabled="@(!@EditMode)" Size="ButtonSize.Small"></RadzenButton>
                        <RadzenButton Icon="cancel" Click="@((args) => CancelEdit(context))" Disabled="@(!@EditMode)" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Ship" Context="context" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                    <Template Context="context">
                        <RadzenButton Click="@(args => DeleteRow(context))" ButtonStyle="ButtonStyle.Danger" Icon="close" Disabled="@EditMode" Size="ButtonSize.Small"></RadzenButton>
                    </Template>
                    <EditTemplate Context="context">
                        <RadzenButton Click="@(args => DeleteRow(context))" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"></RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>


                <RadzenGridColumn TItem="Ship" Property="Id" Title="Id">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Ship" Property="Name" Title="Name">
                    <EditTemplate Context="context">
                        <RadzenTextBox @bind-Value="context.Name" Style="width:100%; display: block" Name="Name" />
                        <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Ship" Property="Launched" Title="Launched">
                    <EditTemplate Context="context">
                        <RadzenNumeric @bind-Value="context.Launched" Style="width:100%; display: block" Name="Launched" />
                    </EditTemplate>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>

    <label class="mt-3" for="data-viewer">Data</label>
    <Radzen.Blazor.RadzenTextArea id="data-viewer" Rows="4" @bind-Value="@data_display"></Radzen.Blazor.RadzenTextArea>
    <label class="mt-3" for="mock-console">Events</label>
    <Radzen.Blazor.RadzenTextArea Style="overflow: scroll;" id="mock-console" Rows="20" @bind-Value="@mock_console_output"></Radzen.Blazor.RadzenTextArea>

</div>
