@page "/"

@using DataGridTest.Data

<div class="mb-4"></div>

<div class="container-fluid w-75 m-auto">

    <div class="row pt-2 page-header">
        <div class="col-auto pl-1 pr-1">
            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                          Click="@(args => Dump())">Foo</RadzenButton>
        </div>
        <div class="col-auto pl-1 pr-1">
            <RadzenButton Icon="refresh" Click="@Refresh" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
        </div>
        <div class="col-auto pl-1 pr-1">
            <RadzenButton Icon="add_circle_outline" Click="@InsertRow" Text="Insert" ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>

    <RadzenGrid @ref="DataGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="15"
                AllowSorting="true" Data="@ships" TItem="Ship" ColumnWidth="200px"
                EditMode="DataGridEditMode.Single"
                RowUpdate="OnUpdateRow" RowCreate="OnCreateRow" RowEdit="OnEditRow">
        <Columns>

            <RadzenGridColumn TItem="Ship" Context="foo" Bubble="false" Filterable="false" Sortable="false">
                <Template Context="context">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(context))"></RadzenButton>
                </Template>
                <EditTemplate Context="context">
                    <RadzenButton Icon="save" Click="@((args) => SaveRow(context))" Size="ButtonSize.Small"></RadzenButton>
                    <RadzenButton Icon="cancel" Click="@((args) => CancelEdit(context))" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Ship" Context="context" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="context">
                    <RadzenButton Click="@(args => DeleteRow(context))" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"></RadzenButton>
                </Template>
                <EditTemplate Context="context">
                    <RadzenButton Click="@(args => DeleteRow(context))" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"></RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>


            <RadzenGridColumn TItem="Ship" Property="Id" Title="Id">
                <EditTemplate Context="context">
                    <RadzenNumeric @bind-Value="context.Id" Style="width:100%; display: block" Name="Id" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Ship" Property="Name" Title="Name">
                <EditTemplate Context="context">
                    <RadzenTextBox @bind-Value="context.Name" Style="width:100%; display: block" Name="Name" />
                    <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Ship" Property="Launched" Title="Launched">
                <EditTemplate Context="context">
                    <RadzenNumeric @bind-Value="context.Launched" Style="width:100%; display: block" Name="Launched" />
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

    <Radzen.Blazor.RadzenTextArea Style="overflow: scroll;" id="console-output" Rows="20" @bind-Value="@console_output"></Radzen.Blazor.RadzenTextArea>

</div>
